{% extends 'admin_header.html' %}
{% block content %}
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h3 style="color:white;"><b>Viewing Subject</b></h3>
</div>
<br><br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
<table style="width:100%; color:black; text-align:left;" class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Subject</th>
        <th >Semester</th>
        <th colspan="2">Edit</th>
    </tr>
{% for data in cdata %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.3}} </td>

      <td>{{data.2}}</td>
      <td> <a href="#">Edit</a></td><!--../edit_subject/{{data.0}}-->
      <td> <a href="#">Remove</a></td><!--../delete_subject/{{data.0}}-->


    </tr>
{% endfor %}
</table>
</div>
{% endblock %}