{% extends 'student_header.html' %}
{% block content %}
<br>
<br>
<div class="col p-2 container" style="background-color: #5bd9cc; color: lavenderblush; "><a href="../stud_view_course/{{did}}" >Back</a></div>

<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Internal Mark Details</h1>

  </div>
  <br>

<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
<table class="table" style="color: lavenderblush;">
  <tr style="color:red;">
    <th>Sl No</th>
    <th>Subject</th>
    <th>Mark</th>
    <th>Added By</th>

  </tr>
  {% for data in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td> {{data.6}} </td>
    <td> {{data.4}} </td>
    <td> {{data.5}} </td>

  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}