{% extends 'teacher_header.html' %}
{% block content %}
<br>
<br>
<div class="col p-5 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <table class="table" style=" color: lavenderblush; ">
    <form action="../teacher_update_password" method="post">
       {% csrf_token %}

    <tr style="color:red;">
      <th colspan="3">Change Password....</th>
    </tr>
    <tr>
      <th>Enter Old Password:</th>
      <td><input type="password" name="old" required style="opacity:0.6; width:150px; height:35px;"></td>
    </tr>
    <tr>
      <th>Enter New Password:</th>
      <td><input type="password" name="new" required style="opacity:0.6; width:150px; height:35px;"></td>
    </tr>
    <tr>
      <th>Conform New Password:</th>
      <td><input type="password" name="new1" required style="opacity:0.6; width:150px; height:35px;"></td>
      <input type="hidden" name="id" value="{{id}}">
    </tr>
      <tr>
        <th></th>
        <td><input type="submit" value="Update Password"></td>
      </tr>
    </form>
  </table>
</div>
{% endblock %}