
{% extends 'teacher_header.html' %}
{% block content %}

<br>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;"><a href="../staff_view_department" >Back</a></div>

<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h3>Viewing Course</h3>

  </div>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
<table style="width:100%; color:black; text-align:left;" class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Course</th>
        <th >Semester</th>
        <th >University Notification</th>
        <th>Time Table</th>
        <th>Student</th>
        <th>Attendance</th>
        <th>Internals</th>
    </tr>
{% for data in cdata %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.2}} </td>
      <td><a href="../staff_view_semester/{{data.0}}">View </a></td>
        <td><a href="../staff_view_notification/{{data.0}}">View</a></td>
        <td><a href="../staff_view_timetable/{{data.0}}">View</a> </td>
        <td><a href="../register_student/{{data.0}}">Register</a></td>
        <td><a href="../attendence/{{data.0}}">Attendance</a></td>
        <td><a href="../internals/{{data.0}}">Internal</a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}