{% extends 'teacher_header.html' %}
{% block content %}
<br>
<br>
<div class="col p-2 container" style="background-color: #5bd9cc; color: lavenderblush; "><a href="../staff_view_course/{{did}}" >Back</a></div>

<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Attendance Register</h1>

  </div>
  <br>

<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 1</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud1 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 2</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud2 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 3</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud3 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 4</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud4 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 5</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud5 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 6</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud6 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 7</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud7 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
  <h1>Semester 8</h1>
</div>
<br>
<div class=" col p-2 container" style="background-color: #5bd9cc; color: lavenderblush;">
    <h1>Students</h1>
    <br>
<table style="width:100%; color:black; text-align:left;"  class="table">
    <tr style="color:red;">
        <th>Sl No.</th>
        <th>Register Number</th>
        <th>Student Name</th>
        <th colspan="2" >Attendance</th>
    </tr>
{% for data in stud8 %}

        <form action="../make_attendence" method="post">
            {% csrf_token %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.10}} </td>
        <td> {{data.1}} </td>
        <input type="hidden" value="{{data.10}}" name="roll_no">
        <input type="hidden" value="{{data.7}}" name="cur_semester">
        <input type="hidden" value="{{id}}" name="id">
          <td>
            <div class="form-check">
              <input type="radio" class="form-check-input"  name="optradio" value="absent" required >
              <label class="form-check-label" >Absent</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="optradio" value="late" >
              <label class="form-check-label">Late</label>
            </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </td>
          <td><a href="../view_attendence/{{data.0}}">View Attendance</a></td>
      </tr>
   </form>

{% endfor %}
</table>
</div>

{% endblock %}